if status is-interactive
    starship init fish | source
end

# env var sets
set -gx GOPATH (go env GOPATH)
set -gx BREW_PATH (brew --prefix)
set -Ux EDITOR nvim
set -Ux VISUAL nvim
set -x ANDROID_HOME $HOME/Library/Android/sdk
set -x PATH $PATH $ANDROID_HOME/emulator
set -x PATH $PATH $ANDROID_HOME/platform-tools
set -x JAVA_HOME /Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home
set -x NODE_OPTIONS "--max-old-space-size=8192"

set -x GH_PAT {{ onepasswordRead "op://Private/GitHub PAT/credential" | quote }}
set -x GITHUB_TOKEN $GH_PAT
set -x SENTRY_ACCESS_TOKEN {{ onepasswordRead "op://Private/Sentry Access Token/credential" | quote }}
set -x SENTRY_AUTH_TOKEN $SENTRY_ACCESS_TOKEN
set -x EXPO_ACCESS_TOKEN {{ onepasswordRead "op://Private/Expo Access Token/credential" | quote }}
set -x DD_API_KEY {{ onepasswordRead "op://Private/Datadog API Key/credential" | quote }}
set -x DD_APPLICATION_KEY {{ onepasswordRead "op://Private/Datadog Application Key/credential" | quote }}
set -x DD_APP_KEY $DD_APPLICATION_KEY
set -x K6_LOAD_TEST_EMAIL {{ onepasswordRead "op://Private/K6 Load Test/email" | quote }}
set -x K6_LOAD_TEST_PASSWORD {{ onepasswordRead "op://Private/K6 Load Test/password" | quote }}
set -x CURRI_READ_REPLICA_URI {{ onepasswordRead "op://Private/Curri Read Replica URI/credential" | quote }}
set -x DATABASE_URL $CURRI_READ_REPLICA_URI

# Fish Paths
fish_add_path $HOME/.cargo/bin
fish_add_path $BREW_PATH/opt/python@3.9/libexec/bin
fish_add_path $HOME/.local/share/nvm/v22.18.0/bin

# Aliases
alias python python3
alias tailscale '/Applications/Tailscale.app/Contents/MacOS/Tailscale'
alias vi nvim
alias nt='new_tab'
alias crush-dev='/Users/austin/code/crush/crush-dev'
alias switcboard='/Users/austin/code/switchboard/switchboard'
# Node
nvm use v22.18.0 >>/dev/null

# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/austin/google-cloud-sdk/path.fish.inc' ]
    . '/Users/austin/google-cloud-sdk/path.fish.inc'
end

source /Users/austin/.docker/init-fish.sh || true # Added by Docker Desktop
